body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:399px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:69px;
  width:328px;
  height:570px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:277px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:13px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:75px;
  width:321px;
  height:13px;
  color:#FFFFFF;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:120px;
  width:300px;
  height:170px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:267px;
  width:16px;
  height:18px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:269px;
  width:16px;
  height:14px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:269px;
  width:18px;
  height:14px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
